body{
    background-color: #FFE128
}

.pesquisa{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.buttons{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.button{
    padding: 10px 20px 10px 20px; /* deixe o espaço extra na esquerda para o ícone */
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: black;
    color: #FFE128;
    font-size:large;
    justify-content: center;
}