<body>
    <div class="header">
        <app-header></app-header>
    </div>

    <div class="pesquisa">
        <input type="text" class="barra-pesquisa" placeholder="pesquisar..." #search (keyup.enter)="searchPersona(search.value)">
    </div>
    
    
    <div *ngFor="let persona of personas">
        <div class="persona-card">
            <div class="arcana">{{ persona.race }}</div>
            <div class="nome">{{ persona.name }}</div>
            <div class="imagem">
                <img src="{{ persona.sprite }}" alt="img">
            </div>
        </div>
    </div>
    
    <div class="buttons">
        <div style="padding: 0px 3px;">
            <button disabled="true" class="button" id="left"> <img src="/icones/Arrow-001.png" alt="right arrow" style="width: 15px; height: 15px;"> </button>
        </div>
        <div>
            <button class="button" id="right"> <img src="/icones/Arrow-002.png" alt="right arrow" style="width: 15px; height: 15px;"></button>
        </div>
    </div>
</body>
