<div class="card">
    <table>
        <tr>
            <td id="arcana">{{ personas.race }}</td>
            <td id="nome">{{ personas.name|titlecase }}</td>
        </tr>
    </table>
</div>

<div class="resistencias">
    <table class="res-table">
        <tr class="icones">
            <td>
                <div style="text-align: center;">
                    <img src="/icones/atributos/phys.png" alt="phys" class="icone-res">
                </div>
            </td>

            <td>
                <div style="text-align: center;">
                    <img src="/icones/atributos/fire.png" alt="fire" class="icone-res">
                </div>
            </td>

            <td>
                <div style="text-align: center;">
                    <img src="/icones/atributos/ice.png" alt="ice" class="icone-res">
                </div>
            </td>
            
            <td>
                <div style="text-align: center;">
                    <img src="/icones/atributos/elec.png" alt="elec" class="icone-res">
                </div>
            </td>

            <td>
                <div style="text-align: center;">
                    <img src="/icones/atributos/wind.png" alt="wind" class="icone-res">
                </div>
            </td>

            <td>
                <div style="text-align: center;">
                    <img src="/icones/atributos/light.png" alt="light" class="icone-res">
                </div>
            </td>

            <td>
                <div style="text-align: center;">
                    <img src="/icones/atributos/dark.png" alt="dark" class="icone-res">
                </div>
            </td>
        </tr>
        <tr class="valores">
            <td class="valor">-</td>
            <td class="valor">-</td>
            <td class="valor">-</td>
            <td class="valor">-</td>
            <td class="valor">-</td>
            <td class="valor">-</td>
            <td class="valor">-</td>
        </tr>
    </table>
</div>

<div class="stats">
    <table class="stats-nomes">
        <tr><td class="atributo">St</td></tr>
        <tr><td class="atributo">Ma</td></tr>
        <tr><td class="atributo">En</td></tr>
        <tr><td class="atributo">Ag</td></tr>
        <tr><td class="atributo">Lu</td></tr>
    </table>

    <table class="stats-numeros">
        <tr>
            <td>{{personas.stats[0]}}</td>
            <td class="barra">
                <div class="barra-total">
                    <div class="preenchimento" id="preenchimento-St"></div>
                </div>
            </td>
        </tr>

        <tr>
            <td>{{personas.stats[1]}}</td>
            <td class="barra">
                <div class="barra-total">
                    <div class="preenchimento" id="preenchimento-Ma"></div>
                </div>
            </td>
        </tr>

        <tr>
            <td>{{personas.stats[2]}}</td>
            <td class="barra">
                <div class="barra-total">
                    <div class="preenchimento" id="preenchimento-En"></div>
                </div>
            </td>
        </tr>

        <tr>
            <td>{{personas.stats[3]}}</td>
            <td class="barra">
                <div class="barra-total">
                    <div class="preenchimento" id="preenchimento-Ag"></div>
                </div>
            </td>
        </tr>
        
        <tr>
            <td>{{personas.stats[4]}}</td>
            <td class="barra">
                <div class="barra-total">
                    <div class="preenchimento" id="preenchimento-Lu"></div>
                </div>
            </td>
        </tr>
    </table>
</div>
    
<div>
    <table class="tabela-habilidades">
        <th colspan="7">Habilidades Aprendidas</th>
        <tr>
            <th>Nome</th>
        </tr>
            <!--TODO tentar resolver com pipes-->
            <tr *ngFor="let skill of personas.skills">
                <td>{{skill}}</td>
            </tr>
    </table>
</div>

<div class="div-imagem-persona">
    <img class="imagem-persona" src="{{ personas.sprite }}" alt="">
</div>