<div class="card">
    <table>
        <tr>
            <td id="arcana">Arcana</td>
            <td id="nome">Nome</td>
        </tr>
    </table>
</div>

<div class="resistencias">
    <table class="res-table">
        <tr class="icones">
            <td>physical</td>
            <td>fire</td>
            <td>ice</td>
            <td>electric</td>
            <td>wind</td>
            <td>light</td>
            <td>darkness</td>
        </tr>
        <tr class="valores">
            <td class="valor">-</td>
            <td class="valor">-</td>
            <td class="valor">-</td>
            <td class="valor">-</td>
            <td class="valor">-</td>
            <td class="valor">-</td>
            <td class="valor">-</td>
        </tr>
    </table>

    <table class="stats">
        <tr>
            <td>St</td>
            <td>#</td>
            <td>barra</td>
        </tr>

        <tr>
            <td>Ma</td>
            <td>#</td>
            <td>barra</td>
        </tr>

        <tr>
            <td>En</td>
            <td>#</td>
            <td>barra</td>
        </tr>

        <tr>
            <td>Ag</td>
            <td>#</td>
            <td>barra</td>
        </tr>
        
        <tr>
            <td>Lu</td>
            <td>#</td>
            <td>barra</td>
        </tr>
    </table>

    <table>
        <th>Habilidades Aprendidas</th>
        <tr>
            <th>Elemento</th>
            <th>Nome</th>
            <th>Custo</th>
            <th>Efeito</th>
            <th>Alvo</th>
            <th>Rank</th>
            <th>Lvl</th>
        </tr>
    </table>
</div>